<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="TextFileAppender" />
    <appender-ref ref="HangoutsAppender" />
    <appender-ref ref="SlackAppender" />
    <appender-ref ref="ElasticSearchAppender" />
  </root>
  <appender name="TextFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="D:\Log\Log4Net.Enhancement_" />
    <appendToFile value="true" />
    <datePattern value="yyyy-MM-dd.\tx\t" />
    <rollingStyle value="Date" />
    <param name="StaticLogFileName" value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-8ndc %-5thread %-5level : %logger : %message %n" />
    </layout>
  </appender>
  <appender name="HangoutsAppender" type="Log4Net.Webhook.Hangouts.HangoutsAppender, Log4Net.Webhook.Hangouts">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
    </filter>
    <WebhookUrl value="https://chat.googleapis.com/v1/spaces/AAAA9pL-Uro/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&amp;token=Mkzs0G0lhL7ronGjHj3Q-3Emos2zLyrIoM9TYgo3rmw%3D" />
    <ProgramEnvironment value="TEST" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger - %message" />
    </layout>
  </appender>
  <appender name="SlackAppender" type="Log4Net.Webhook.Slack.SlackAppender, Log4Net.Webhook.Slack">
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG" />
    </filter>
    <WebhookUrl value="https://hooks.slack.com/services/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" />
    <Channel value="" />
    <Username value="" />
    <IconUrl value="" />
    <IconEmoji value="" />
    <AddAttachment value="true" />
    <AddExceptionTraceField value="true" />
    <UsernameAppendLoggerName value="true" />
    <ProgramEnvironment value="TEST" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %logger - %message" />
    </layout>
  </appender>
  <appender name="ElasticSearchAppender" type="Log4Net.Webhook.ElasticSearch.ElasticSearchAppender, Log4Net.Webhook.ElasticSearch">
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
    </layout>
    <connectionString value="Scheme=http;Server=vpc-uat-123-uqr3pfotqyc2jdlwriump3lmxu.ap-southeast-1.es.amazonaws.com;Index=log;Port=80;rolling=true" />
    <lossy value="false" />
    <bufferSize value="200" />
    <timeBuffer value="30" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ALL" />
    </evaluator>
  </appender>
</log4net>